@import "mfelt-vars.css";
@import "mfelt-icons.css";
@import "mfelt-buttons.css";
@import "mfelt-alerts.css";
@import "mfelt-navbar.css";
@import "mfelt-accordions.css";
@import "mfelt-tabs.css";
@import "mfelt-modals.css";
@import "mfelt-forms.css";
@import "mfelt-titlebox.css";
@import "mfelt-cards.css";
@import "mfelt-paginations.css";
@import "mfelt-colors.css";
/*-----------------------------------*/
/* BASES                             */
/*-----------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #222;
  background-color: #fff;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
img {
  vertical-align: middle;
}
hr {
	box-sizing: content-box;
	height: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 0;
	border-top: 1px solid #eeeeee;
}
/*-----------------------------------*/
/* H                                 */
/*-----------------------------------*/
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  padding: .3em;
}
h1,.h1 {
  font-size: 36px;
}
h2,.h2 {
  font-size: 30px;
}
h3,.h3 {
  font-size: 24px;
}
h4,.h4 {
  font-size: 18px;
}
h5,.h5 {
  font-size: 14px;
}
h6,.h6 {
  font-size: 12px;
}
h1,.h1,h2,.h2,h3,.h3 {
  margin-top: .75em;
  margin-bottom: .75em;
}
h4,.h4,h5,.h5,h6,.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*-----------------------------------*/
/* PRE / CODE                        */
/*-----------------------------------*/
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
code, pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}